---
pagination:
  data: collections.blogposts
  size: 2
  alias: blogposts
permalink: "/blog{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber + 1 }}{% endif %}/index.html"
---

{% extends "layouts/base.njk" %}

{# nav active section #}
{% set activeSection = "blog" %}

{% block content %}
  <h1>Our blog</h1>

  {% for post in blogposts %}
    {% if loop.first %}<ul>{% endif %}

      <li>
        <article>
          <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
          <p><time datetime="{{ post.date | dateISO }}">{{ post.date | dateFull }}</time></p>
          <p>{{ post.data.intro }}</p>
        </article>
      </li>

    {% if loop.last %}</ul>{% endif %}
  {% endfor %}

  {% if pagination.pages | length > 1 %}
    <ul>
      {% if pagination.href.previous %}
        <li><a href="{{ pagination.href.previous }}">&larr;&nbsp;previous</a></li>
      {% endif %}
      {% if pagination.href.next %}
        <li><a href="{{ pagination.href.next }}">next&nbsp;&rarr;</a></li>
      {% endif %}
    </ul>
  {% endif %}

{% endblock %}